@font-face {
    font-family: 'idroid';
    src: url('fonts/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #41d9839a;
    font-family: arial, helvetica, sans-serif;
    text-align: justify;
    font-size: 1em;
    margin: 0px;
}

header {
    background-image: linear-gradient(to top, #1a5c38ce, #3AD07E);
    text-align: center;
    color: white;
    padding: 20px;
    margin: 0px;            
}

nav {
    background-color: #1a5c38ce;
    padding: 10px 10px 10px 20px;
    box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.384);
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    line-height: 1.7;
    border-radius: 0px 0px 10px 10px;
    width: 860px;
    margin: 0px auto 20px auto;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
    
}

.fonte {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: #1a5c38;
}

h1 {
    font-size: 2em;
}

h2 {
    background-image: linear-gradient(to right, #41d98346, white);
    font-size: 1.5em;
}

p {
    text-indent: 30px;
}

section {
    padding: 10px 30px 10px 30px;
    margin-left: auto;
    margin-right: auto;

}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div {
    background-color: #1A5C38;
    margin: 0px;
    padding: 20px;
    text-align: center;
    
}



footer {
    background-color: #1A5C38;
    color: white;
    text-align: center;
    padding: 8px;
    margin: 0px;
}        

h3 {
    display: block;
    background-color: #25804ce8;
    font-size: 1em;
    color: white;
    padding: 5px 10px 5px 10px;
    margin: 0px;
    border-radius: 10px 10px 0px 0px;
    
}

.blocoextra {
    padding-bottom: 30px;
}

.conteudoextra {
    background-color: #46eb8e59;
    padding: 1px 10px 30px 10px;
    margin: 0px;
    text-align: justify;
    border-radius: 0px 0px 10px 10px;
}




footer > p {
    margin: 0px;
}